@charset "UTF-8";

/* CSS fontes */
@font-face
{
font-family: gravbold;
src: url('../fonts/Gravity-Bold.ttf'),
url('../fonts/Gravity-Bold.eot');
}

@font-face
{
font-family: gravbook;
src: url('../fonts/Gravity-Book.ttf'),
url('../fonts/Gravity-Book.eot');
}

@font-face
{
font-family: gravlight;
src: url('../fonts/Gravity-Light.ttf'),
url('../fonts/Gravity-Light.eot');
}


/* CSS Document */

div.content{
	width:40%;
	max-width:700px;
	font-family:gravbook;
	font-size:16pt;
	color:#8C5E00;
	padding:0 5%;
}

div#pt-3{
	float:left;
}

div#en-3{
	float:left;
	opacity:0.5;
}

h1{
	font-family:gravbold;
	font-size:22pt;
	padding-top:100px;
}

input {
    border: 3px solid #295224;
    border-radius: 10px 10px 10px 10px;
    color: #666666;
    font-family: gravlight;
    font-size: 16pt;
    padding: 10px 4.5%;
    width: 90%;
}

input.data{
	width:100px;
	height:20px;
	margin-right:50px;
}
 p{
	margin-top: 50px; 
 }
