<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Consultores</title>
    <link rel="stylesheet" type="text/css" href="css/cdc.css">
    <link rel="stylesheet" type="text/css" href="css/form1.css">
    <link rel="stylesheet" type="text/css" href="css/form2.css">
    <link rel="stylesheet" type="text/css" href="css/form3.css">
    <link rel="stylesheet" type="text/css" href="css/form4.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="js/linkedinObj.js"></script>

    <script>
    dados = (Object)
    invalidos = [];
    </script>

    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: cmhswgueglgb
      onLoad: onLinkedInLoad
      authorize: true
      credentials_cookie: true
      scope: r_basicprofile r_fullprofile r_emailaddress r_contactinfo
    </script>

    <script type="text/javascript">

      function onLinkedInLoad() {
        IN.Event.on(IN, "auth", onLinkedInAuth);
      }

      function onLinkedInAuth() {
        IN.API.Profile("me").fields('id','first-name','last-name','main-address','headline','location:(name,country:(code))','industry','summary','specialties','positions','picture-url','public-profile-url','email-address','associations','interests','languages','publications','patents','skills','certifications','educations','courses','date-of-birth','phone-numbers','bound-account-types','im-accounts','twitter-accounts','primary-twitter-account').result(displayProfiles);
      }

      function displayProfiles(profiles) {
        <?php if(isset($cons)){ ?>
                $("#btn-send").attr('data-send','put');
                $("#btn-send").text("Atualizar");
                dados = <?php echo json_encode($cons)?>;
                e = bindData(dados);
                dados = e.values[0];
                setFields(dados);
                getFormData();
        <?php }else{ ?>         
                dados = profiles.values[0];
                document.getElementById("profiles").innerHTML = 
                  "<p id=\"" + dados.id + "\">Olá <strong><i>" +  dados.firstName + "  " + dados.lastName + "</i></strong> você esta logado no Linkedin</p>";
                setFields(dados);
                getFormData();
        <?php } ?>
      }

    </script>

    <script src="js/cdc.js" defer></script> 
</head>

<body>
	<!-- Div que abrange td -->
	<div id="mor">

    	<!-- Topo -->
    	<div id="header">
        	<div class="divisor">
            </div>
                <div style="text-align:center; width:1376px; margin-left:auto; margin-right:auto;">
                <img id="Image-Maps_1201311021729107" src="https://dl.dropboxusercontent.com/u/67842866/topo.jpg" usemap="#Image-Maps_1201311021729107" border="0" width="1376" height="194" alt="" />
                <map id="_Image-Maps_1201311021729107" name="Image-Maps_1201311021729107">
                <area shape="rect" coords="970,46,1309,131" href="http://smartpublishing.com.br/" alt="http://smartpublishing.com.br/" title="http://smartpublishing.com.br/"    />
                <area shape="rect" coords="650,47,938,132" href="http://www.crnbrasil.com.br/" alt="http://www.crnbrasil.com.br/" title="http://www.crnbrasil.com.br/"    />
                <area shape="rect" coords="344,46,625,131" href="http://bioconsultants.com.br/" alt="http://bioconsultants.com.br/" title="http://bioconsultants.com.br/"    />
                <area shape="rect" coords="66,44,316,129" href="http://expetro.com.br/" alt="http://expetro.com.br/" title="http://expetro.com.br/"    />
                <area shape="rect" coords="1374,192,1376,194" href="http://www.image-maps.com/index.php?aff=mapped_users_1201311021729107" alt="Image Map" title="Image Map" />
                </map>
                </div>
        	<!--<img src="images/topo.jpg" alt="Cadastro de Consultores" border="0" width="100%" />-->
            <div class="divisor">
            </div>
            <div id="hub">
            	<img src="images/hub.png" alt="Cadastro de Consultores" border="0" />
            </div>
            <div>

                <div id="linkedin" style="float:left;">
                    <div style="float:left;">
                        <img src="images/linkedin.png" alt="Linkedin" border="0">
                    </div>
                    <!-- texto PT -->
                    <div style="width:20%;padding:0 2%;float:left;color:#999;margin-top:30px;">
                        <span style="font-size:14pt;">O HUB DE CONSULTORIA</span><br />
                        é um cadastro de consultores comum ao grupo de consultoria composto
                    pelas empresas Expetro, Bioconsultants, CRN e Smartpublishing. Caso você já
                    tenha uma conta no LinkedIn, pode conectá-la a este cadastro clicando no
                    ícone ao lado. Com isso, seus dados serão importados diretamente do
                    LinkedIn. Após, você poderá editar os dados aqui no HUB. Nenhuma destas
                    operações irá alterar qualquer comportamento ou informação da sua conta no
                    LinkedIn.
                    </div>
                    <!-- texto EN -->
                    <div style="width:20%;padding:0 2%;float:left;color:#999;margin-top:30px;">
                        <span style="font-size:14pt;">THIS CONSULTANT HUB</span><br /> is a
                    consultants listing shared by the associated firms Expetro, Bioconsultants,
                    CRN e Smartpublishing. In case you already have an LinkedIn account,
                    you can connect it with this form by clicking in the icon aside. Your
                    LinkedIn data will be automatically imported and you will be also able to
                    edit its related fields in this form. None of these operations will alter any information at your LinkedIn register.
                    </div>
                </div>
                <div id="lgn" style="width:15%;text-align:center;">
                    <script type="IN/Login"></script>
                </div>

                </br></br>

                <div id="profiles" style="width:28%;text-align:center;"></div>

                <div style="width:15%;text-align:center;">
                    <a href="javascript:void(0)" onClick="IN.User.logout()"><i>Clique aqui para sair do Linkedin</i></a>
                </div>
                <div id="fb-root"></div>
            </div>
            <div id="nav-top" style="display:none">
                <ul>
                    <li>
                        <img data='1' src="images/but1.png" alt="Cadastro de Consultores" border="0" width="45" />
                    </li>
                    <li>
                        <img data='2' src="images/but2.png" alt="Cadastro de Consultores" border="0" width="45" />
                    </li>
                    <li>
                        <img data='3' src="images/but3.png" alt="Cadastro de Consultores" border="0" width="45" />
                    </li>
                    <li>
                        <img data='4' src="images/but4.png" alt="Cadastro de Consultores" border="0" width="45" />
                    </li>
                </ul>
            </div>
            <div id="footer" class="bolt hdr">
                <img name="prev" src="images/setaC_01.png" class="fim" alt="Previous Page" border="0" />
                <img name="next" src="images/setaAZ_02.png" class="comeco" alt="Next Page" border="0" />
            </div>
        </div>


        
        <!-- Corpo do cadastro -->
        <div id="content">
        	<form name="cdc" action="cdc.xxx" method="get">
                <!-- Corpo do cadastro portugues-->
                <script>
                $("#nav-top").find('ul').find('li').find('img').eq(0).trigger('click')
                </script>
         	</form>
        </div>
        <!-- Navegacao entre as paginas do cadastro -->
        <div id="footer" class="bolt">
        	<img name="prev" src="images/setaC_01.png" class="fim" alt="Previous Page" border="0" />
          <img name="next" src="images/setaAZ_02.png" class="comeco" alt="Next Page" border="0" />
          <div style="text-align:center" id="btn"><button id="btn-send" data-send="post">Cadastrar</button></div>
        </div>
    </div>
</body>
</html>