<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hub de Consultoria - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="../css/inspiritas.css" rel="stylesheet">
</head>

<body>

<!-- Navbar
  ================================================== -->
<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">Hub de Consultoria</a>

      <div class="nav-collapse collapse" id="main-menu">
        <div class="auth pull-right">
            <img class="avatar" src="../img/user-icon.png">
            <span class="name"><?php echo $_SESSION['user_login']?></span><br/>
            <span class="links">
                <!--<a href="#">Settings</a>-->
                <a href="../logout" id="logout">Logout</a>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <aside>
                <nav>
                    <ul class="nav">
                      <li class="selected">
                        <a href=""><i class="icon-play"></i> Consultores</a>
                      </li>
                    </ul>
                </nav>
            </aside>
        </div>
        <div class="span9" id="content-wrapper">
            <div id="content">

                <!-- Navbar
                ================================================== -->
                <section id="stats">
                  <header>
                    <div class="pull-right">
                        <!--<<a class="btn btn-small">Editar</a>-->
                        <a href="../dashboard" class="btn btn-small">Voltar</a>
                    </div>
                    <h1>Consultor</h1>
                  </header>
                  <div class="row-fluid">
                    <div class="span12">
                        <div class="kpi count_consult"></div>
                        <div><small>Dados do consultor</small></div>
                    </div>
                  </div>
                </section>

                <section id="tables">
                  <div class="sub-header">
                    <h2></h2>
                  </div>

                  <ul class="nav nav-tabs">
                    <li><a href="#portugues" data-toggle="tab">Português</a></li>
                    <li><a href="#ingles" data-toggle="tab">Inglês</a></li>
                  </ul>

                  <div class="tab-content">
                    <div class="tab-pane active" id="portugues">
                        <table class="table table-striped full-section table-hover">
                          <tbody>
                            <tr>
                              <td><big><strong>Nome</big></strong></td><td><big><i><?=$consultor['nome']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Sobrenomenome meio</big></strong></td><td><big><i><?=$consultor['sobrenomenome-meio']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Sobrenomenome último</big></strong></td><td><big><i><?=$consultor['sobrenomenome-ultimo']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Nome notório</big></strong></td><td><big><i><?=$consultor['nome-notorio']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Logradouro</big></strong></td><td><big><i><?=$consultor['logradouro']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Estado</big></strong></td><td><big><i><?=$consultor['estado']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>CEP</big></strong></td><td><big><i><?=$consultor['cep']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>País</big></strong></td><td><big><i><?=$consultor['pais']?></i></big></td>
                            </tr>
                            <tr class="mail">
                                <td>
                                    <big><strong>e-Mail :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php
                                        foreach ($consultor['mails'] as $key => $mail) {

                                            if($mail['emailAddress']!=""){ ?>
                                            <fieldset class="fieldset li">
                                                <li><strong>endereço : </strong><i><?php echo $mail['emailAddress']?></i></li>
                                                <li><strong>tipo : </strong><i><?php echo $mail['emailType']?></i></li>
                                            </fieldset>
                                           <?php }} ?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                            <tr class="mail">
                                <td>
                                    <big><strong>Fones :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php
                                        foreach ($consultor['phones'] as $key => $mail) {

                                            if($mail['phoneNumer']!=""){ ?>
                                            <fieldset class="fieldset li">
                                                <li><strong>Número : </strong><i><?php echo $mail['phoneNumer']?></i></li>
                                                <li><strong>tipo : </strong><i><?php echo $mail['phoneType']?></i></li>
                                            </fieldset>
                                           <?php }} ?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                            <tr class="academico">
                                <td>
                                    <big><strong>Academico :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php
                                        foreach ($consultor['educations'] as $key => $mail) {

                                            if($mail['schoolName']!="" && $mail['type']=="academico"){ ?>
                                            <fieldset class="fieldset li">
                                                <li><strong>nome : </strong><i><?php echo $mail['schoolName']?></i></li>
                                                <li><strong>endereço : </strong><i><?php echo $mail['local']?></i></li>
                                                <li><strong>Início : </strong><i><?php echo $mail['startDate']?></i></li>
                                                <li><strong>Fim : </strong><i><?php echo $mail['endDate']?></i></li>
                                                <li><strong>Tipo de estudo : </strong><i><?php echo $mail['activities']?></i></li>
                                                <li><strong>Título : </strong><i><?php echo $mail['degree']?></i></li>
                                            </fieldset>
                                           <?php }} ?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                            <tr class="profissional">
                                <td>
                                    <big><strong>Profissional :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php
                                        foreach ($consultor['positions'] as $key => $mail) {

                                            if($mail['companyName']!="" && $mail['type']=="trab-atual"){ ?>
                                            <fieldset class="fieldset multiple">
                                                <legend><small>Atual</small></legend>
                                                <li><strong>nome : </strong><i><?php echo $mail['companyName']?></i></li>
                                                <li><strong>Início : </strong><i><?php echo $mail['startDate']?></i></li>
                                                <li><strong>Fim : </strong><i><?php echo $mail['endDate']?></i></li>
                                                <li><strong>Tipo de negócio : </strong><i><?php echo $mail['industry']?></i></li>
                                                <li><strong>Descrição : </strong><i><?php echo $mail['summary']?></i></li>
                                            </fieldset>
                                           <?php }elseif($mail['companyName']!="" && $mail['type']=="trab-anterior") {?>
                                       
                                            <fieldset class="fieldset multiple">
                                                <li><strong>nome : </strong><i><?php echo $mail['companyName']?></i></li>
                                                <li><strong>Início : </strong><i><?php echo $mail['startDate']?></i></li>
                                                <li><strong>Fim : </strong><i><?php echo $mail['endDate']?></i></li>
                                                <li><strong>Tipo de negócio : </strong><i><?php echo $mail['industry']?></i></li>
                                                <li><strong>Descrição : </strong><i><?php echo $mail['summary']?></i></li>
                                            </fieldset>
                                              
                                           <?php }

                                       } ?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                          </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="ingles">
                    </div>
                  </div>

                </section>

            </div>
        </div>
    </div>
</div><!-- /container -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>
