<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hub de Consultoria - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="../css/inspiritas.css" rel="stylesheet">
</head>

<body>

<!-- Navbar
  ================================================== -->
<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">Hub de Consultoria</a>

      <div class="nav-collapse collapse" id="main-menu">
        <div class="auth pull-right">
            <img class="avatar" src="../img/user-icon.png">
            <span class="name"><?php echo $_SESSION['user_login']?></span><br/>
            <span class="links">
                <!--<a href="#">Settings</a>-->
                <a href="../logout" id="logout">Logout</a>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <aside>
                <nav>
                    <ul class="nav">
                      <li class="selected">
                        <a href=""><i class="icon-play"></i> Consultores</a>
                      </li>
                    </ul>
                </nav>
            </aside>
        </div>
        <div class="span9" id="content-wrapper">
            <div id="content">

                <!-- Navbar
                ================================================== -->
                <section id="stats">
                  <header>
                    <div class="pull-right">
                        <a href="../dashboard" class="btn btn-small">Voltar</a>
                    </div>
                    <h1>Consultor</h1>
                  </header>
                  <div class="row-fluid">
                    <div class="span12">
                        <div class="kpi count_consult"></div>
                        <div><small>Dados do consultor</small></div>
                        <div class="pull-right">
                            <a href="../<?=$consultor['_id']?>" class="btn btn-small">editar</a>
                            <a id="remove" data-id="<?=$consultor['_id']?>" class="btn btn-small">excluir</a>
                        </div>
                    </div>
                  </div>
                </section>

                <section id="tables">
                  <div class="sub-header">
                    <h2></h2>
                  </div>

                  <ul class="nav nav-tabs">
                    <li><a href="#portugues" data-toggle="tab">Português</a></li>
                    <li><a href="#ingles" data-toggle="tab">Inglês</a></li>
                  </ul>

                  <!--PORTUGÛES  -->
                  <div class="tab-content">
                    <div class="tab-pane active" id="portugues">
                        <table class="table table-striped full-section table-hover">
                          <tbody>
                            <tr>
                              <td><big><strong>Nome</big></strong></td><td><big><i><?=$consultor['nome']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Sobrenomenome meio</big></strong></td><td><big><i><?=$consultor['sobrenomenome-meio']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Sobrenomenome último</big></strong></td><td><big><i><?=$consultor['sobrenomenome-ultimo']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Nome notório</big></strong></td><td><big><i><?=$consultor['nome-notorio']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Logradouro</big></strong></td><td><big><i><?=$consultor['logradouro']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Estado</big></strong></td><td><big><i><?=$consultor['estado']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>CEP</big></strong></td><td><big><i><?=$consultor['cep']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>País</big></strong></td><td><big><i><?=$consultor['pais']?></i></big></td>
                            </tr>

                            <tr><td>
                                <big><strong>Residenciais :</big></strong></br>
                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                      <li><big><strong>Logradouro : </big></strong><big><i><?=$consultor['logradouro-resid']?></i></big></li>
                                      <li><big><strong>Estado : </big></strong><big><i><?=$consultor['estado-resid']?></i></big></li>
                                      <li><big><strong>CEP : </big></strong><big><i><?=$consultor['cep-resid']?></i></big></li>
                                      <li><big><strong>País : </big></strong><big><i><?=$consultor['pais-resid']?></i></big></li>
                                      <li><big><strong>Fone : </big></strong><big><i><?=$consultor['fone-resid']?></i></big></li>
                                      <li><big><strong>Local de nascimento : </big></strong><big><i><?=$consultor['local-nasc']?></i></big></li>
                                      <li><big><strong>Data de nascimento : </big></strong><big style="text-align:right"><i><?=$consultor['data-nasc']?></i></big></li>
                                      <li><big><strong>Nascionalidade de nascimento : </big></strong><big><i><?=$consultor['nacionalidade-nasc']?></i></big></li>
                                      <li><big><strong>Nacionalidade atual : </big></strong><big><i><?=$consultor['nacionalidade-atual']?></i></big></li>
                                    </ul>
                               </fieldset>
                            </td></tr>

                            <tr>
                              <td><big><strong>Identidade</big></strong></td><td><big><i><?=$consultor['identidade']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>CPF</big></strong></td><td><big><i><?=$consultor['cpf']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Passaporte</big></strong></td><td><big><i><?=$consultor['passaporte']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Obs</big></strong></td><td><big><i><?=$consultor['obs']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Sexo</big></strong></td><td><big><i><?=$consultor['sexo']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Estatura</big></strong></td><td><big><i><?=$consultor['estatura']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Peso</big></strong></td><td><big><i><?=$consultor['peso']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Estado civil</big></strong></td><td><big><i><?=$consultor['estado-civil']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Nº de dependentes</big></strong></td><td><big><i><?=$consultor['n-dependentes']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Empregado</big></strong></td><td><big><i><?=$consultor['empregado']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Empresa</big></strong></td><td><big><i><?=$consultor['empresa']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Razão social</big></strong></td><td><big><i><?=$consultor['razao-social']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>CGC</big></strong></td><td><big><i><?=$consultor['cgc']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Participação acionária</big></strong></td><td><big><i><?=$consultor['participacao']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>outras empresas</big></strong></td><td><big><i><?=$consultor['quaisecomo']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Trabalho temporário</big></strong></td><td><big><i><?=$consultor['temporario']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Aceita viajar</big></strong></td><td><big><i><?=$consultor['viajar']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Trabalho em outra localidade</big></strong></td><td><big><i><?=$consultor['outra-localidade']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Localidade excluída</big></strong></td><td><big><i><?=$consultor['nao-quer-trabalhar']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Fatos relevantes</big></strong></td><td><big><i><?=$consultor['fatos-relevantes']?></i></big></td>
                            </tr>

                            <tr><td>
                                <big><strong>Habilidades :</big></strong></br>
                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                      <li><big><strong>Senso analítico : </big></strong><big><i><?=$consultor['senso-analitico']?></i></big></li>
                                      <li><big><strong>Capacidade profissional : </big></strong><big><i><?=$consultor['capac-pro']?></i></big></li>
                                      <li><big><strong>Capac gerencial : </big></strong><big><i><?=$consultor['capac-ger']?></i></big></li>
                                      <li><big><strong>Qual oratoria : </big></strong><big><i><?=$consultor['qual-oratoria']?></i></big></li>
                                      <li><big><strong>Qual de redacao : </big></strong><big><i><?=$consultor['qual-redacao']?></i></big></li>
                                      <li><big><strong>Motivação e energia : </big></strong><big><i><?=$consultor['motiv']?></i></big></li>
                                      <li><big><strong>lideranca : </big></strong><big><i><?=$consultor['lideranca']?></i></big></li>
                                      <li><big><strong>Capac org : </big></strong><big><i><?=$consultor['capac-org']?></i></big></li>
                                      <li><big><strong>Senso de humor : </big></strong><big><i><?=$consultor['senso-humor']?></i></big></li>
                                      <li><big><strong>Maturidade emocional : </big></strong><big><i><?=$consultor['matur-emo']?></i></big></li>
                                      <li><big><strong>Capacidade cumprir prazos : </big></strong><big><i><?=$consultor['capac-prazos']?></i></big></li>
                                      <li><big><strong>Capacidade de equipe : </big></strong><big><i><?=$consultor['capac-equipe']?></i></big></li>
                                      <li><big><strong>nocao-responsa : </big></strong><big><i><?=$consultor['nocao-responsa']?></i></big></li>
                                      <li><big><strong>Integridade : </big></strong><big><i><?=$consultor['integridade']?></i></big></li>
                                    </ul>
                               </fieldset>
                            </td></tr>

                            <tr>
                              <td><big><strong>tipo de trabalho de interesse</big></strong></td><td><big><i><?=$consultor['tipodetrabalho']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Disponibilidade de horários</big></strong></td><td><big><i><?=$consultor['horasdisponiveis']?></i></big></td>
                            </tr>

                            <tr><td>
                                <big><strong>Idiomas :</big></strong></br>
                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                            <legend style="width:10%"><small>Inglês</small></legend>
                                      <li>
                                        <big><strong>Leitura : </big></strong><big><i><?=$consultor['ingles-leitura']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Oral : </big></strong><big><i><?=$consultor['ingles-oral']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Redação : </big></strong><big><i><?=$consultor['ingles-redacao']?></i></big>
                                      </li>
                                  </ul>

                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                            <legend style="width:10%"><small>Espanhol</small></legend>
                                      <li>
                                        <big><strong>Leitura : </big></strong><big><i><?=$consultor['espanhol-leitura']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Oral : </big></strong><big><i><?=$consultor['espanhol-oral']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Redação : </big></strong><big><i><?=$consultor['espanhol-redacao']?></i></big>
                                      </li>
                                  </ul>

                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                            <legend style="width:10%"><small>Francês</small></legend>
                                      <li>
                                        <big><strong>Leitura : </big></strong><big><i><?=$consultor['frances-leitura']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Oral : </big></strong><big><i><?=$consultor['frances-oral']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Redação : </big></strong><big><i><?=$consultor['frances-redacao']?></i></big>
                                      </li>
                                  </ul>

                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                            <legend style="width:10%"><small>português</small></legend>
                                      <li>
                                        <big><strong>Leitura : </big></strong><big><i><?=$consultor['portugues-leitura']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Oral : </big></strong><big><i><?=$consultor['portugues-oral']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Redação : </big></strong><big><i><?=$consultor['portugues-redacao']?></i></big>
                                      </li>
                                  </ul>

                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                            <legend style="width:10%"><small>outro(<?= $consultor['outro-idioma']?>)</small></legend>
                                      <li>
                                        <big><strong>Leitura : </big></strong><big><i><?=$consultor['outro-leitura']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Oral : </big></strong><big><i><?=$consultor['outro-oral']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Redação : </big></strong><big><i><?=$consultor['outro-redacao']?></i></big>
                                      </li>
                                  </ul>
                              </td></tr>


                            <tr class="mail">
                                <td>
                                    <big><strong>e-Mail :</big></strong></br>
                                    <ul style="list-style-type:none">
                                      
                                        <fieldset class="fieldset li">
                                            <li><strong>endereço : </strong><i><?php echo $consultor['email-consultoria']?></i></li>
                                            <li><strong>tipo : </strong><i>consultoria</i></li>
                                        <?php
                                        foreach ($consultor['mails'] as $key => $mail) {

                                            if($mail['emailAddress']!=""){ ?>
                                            
                                                <li><strong>endereço : </strong><i><?php echo $mail['emailAddress']?></i></li>
                                                <li><strong>tipo : </strong><i><?php echo $mail['emailType']?></i></li>
                                            
                                           <?php }} ?>
                                        </fieldset>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                            <tr class="mail">
                                <td>
                                    <big><strong>Fones :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php
                                        foreach ($consultor['phones'] as $key => $mail) {

                                            if($mail['phoneNumer']!=""){ ?>
                                            <fieldset class="fieldset li">
                                                <li><strong>Número : </strong><i><?php echo $mail['phoneNumer']?></i></li>
                                                <li><strong>tipo : </strong><i><?php echo $mail['phoneType']?></i></li>
                                            </fieldset>
                                           <?php }} ?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                            <tr class="academico">
                                <td>
                                    <big><strong>Academico :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php
                                        foreach ($consultor['educations'] as $key => $mail) {

                                            if($mail['schoolName']!="" && $mail['type']=="academico"){ ?>
                                            <fieldset class="fieldset li">
                                                <li><strong>nome : </strong><i><?php echo $mail['schoolName']?></i></li>
                                                <li><strong>endereço : </strong><i><?php echo $mail['local']?></i></li>
                                                <li><strong>Início : </strong><i><?php echo $mail['startDate']?></i></li>
                                                <li><strong>Fim : </strong><i><?php echo $mail['endDate']?></i></li>
                                                <li><strong>Tipo de estudo : </strong><i><?php echo $mail['activities']?></i></li>
                                                <li><strong>Título : </strong><i><?php echo $mail['degree']?></i></li>
                                            </fieldset>
                                           <?php }} ?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                            <!--<tr class="obras">
                                <td>
                                    <big><strong>Obras :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php /*
                                        foreach ($consultor['obras'] as $key => $obra) { */?>
                                            <fieldset class="fieldset li">
                                                <li><strong></strong><i><?php //echo $obra?></i></li>
                                            </fieldset>

                                           <?php /* } */?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>-->

                            <tr class="profissional">
                                <td>
                                    <big><strong>Profissional :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php
                                        foreach ($consultor['positions'] as $key => $mail) {

                                            if($mail['companyName']!="" && $mail['type']=="trab-atual"){ ?>
                                            <fieldset class="fieldset multiple">
                                                <legend><small>Atual</small></legend>
                                                <li><strong>nome : </strong><i><?php echo $mail['companyName']?></i></li>
                                                <li><strong>Início : </strong><i><?php echo $mail['startDate']?></i></li>
                                                <li><strong>Fim : </strong><i><?php echo $mail['endDate']?></i></li>
                                                <li><strong>Tipo de negócio : </strong><i><?php echo $mail['industry']?></i></li>
                                                <li><strong>Descrição : </strong><i><?php echo $mail['summary']?></i></li>
                                            </fieldset>
                                           <?php }elseif($mail['companyName']!="" && $mail['type']=="trab-anterior") {?>
                                       
                                            <fieldset class="fieldset multiple">
                                                <li><strong>nome : </strong><i><?php echo $mail['companyName']?></i></li>
                                                <li><strong>Início : </strong><i><?php echo $mail['startDate']?></i></li>
                                                <li><strong>Fim : </strong><i><?php echo $mail['endDate']?></i></li>
                                                <li><strong>Tipo de negócio : </strong><i><?php echo $mail['industry']?></i></li>
                                                <li><strong>Descrição : </strong><i><?php echo $mail['summary']?></i></li>
                                            </fieldset>
                                              
                                           <?php }

                                       } ?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                          </tbody>
                        </table>
                    </div>
                    <!-- PORTUGÛES-->

                    <!-- INGLÊS -->
                    <div class="tab-pane" id="ingles">
                        <table class="table table-striped full-section table-hover">
                          <tbody>
                            <tr>
                              <td><big><strong>Name</big></strong></td><td><big><i><?=$consultor['name']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Middle name</big></strong></td><td><big><i><?=$consultor['middle-name']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Last name</big></strong></td><td><big><i><?=$consultor['last-name']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Known name</big></strong></td><td><big><i><?=$consultor['known-name']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Address</big></strong></td><td><big><i><?=$consultor['address']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>State</big></strong></td><td><big><i><?=$consultor['state']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Zipcode</big></strong></td><td><big><i><?=$consultor['zipcode']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Country</big></strong></td><td><big><i><?=$consultor['country']?></i></big></td>
                            </tr>

                            <tr><td>
                                <big><strong>Home :</big></strong></br>
                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                      <li><big><strong>Adress : </big></strong><big><i><?=$consultor['adress-home']?></i></big></li>
                                      <li><big><strong>State : </big></strong><big><i><?=$consultor['state-home']?></i></big></li>
                                      <li><big><strong>Zipcode : </big></strong><big><i><?=$consultor['zipcode-home']?></i></big></li>
                                      <li><big><strong>País : </big></strong><big><i><?=$consultor['pais-resid']?></i></big></li>
                                      <li><big><strong>Fone : </big></strong><big><i><?=$consultor['fone-resid']?></i></big></li>
                                      <li><big><strong>Place birth : </big></strong><big><i><?=$consultor['place-birth']?></i></big></li>
                                      <li><big><strong>Date birth : </big></strong><big><i><?=$consultor['date-birth']?></i></big></li>
                                      <li><big><strong>Nationality birth : </big></strong><big><i><?=$consultor['nationality-birth']?></i></big></li>
                                      <li><big><strong>Present nationality : </big></strong><big><i><?=$consultor['present-nationality']?></i></big></li>
                                    </ul>
                               </fieldset>
                            </td></tr>

                            <tr>
                              <td><big><strong>Id</big></strong></td><td><big><i><?=$consultor['id']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>SSN</big></strong></td><td><big><i><?=$consultor['ssn']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Passport</big></strong></td><td><big><i><?=$consultor['passport']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>visas-status</big></strong></td><td><big><i><?=$consultor['visas-status']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Sex</big></strong></td><td><big><i><?=$consultor['sex']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Height</big></strong></td><td><big><i><?=$consultor['height-yeah']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Weight</big></strong></td><td><big><i><?=$consultor['weight']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Marital status</big></strong></td><td><big><i><?=$consultor['marital-status']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>N dependents</big></strong></td><td><big><i><?=$consultor['n-dependents']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Employed</big></strong></td><td><big><i><?=$consultor['employed']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Company</big></strong></td><td><big><i><?=$consultor['company']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Razão social</big></strong></td><td><big><i><?=$consultor['razao-social']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>CGC</big></strong></td><td><big><i><?=$consultor['cgc-en']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>participation</big></strong></td><td><big><i><?=$consultor['participation']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>whichandhow</big></strong></td><td><big><i><?=$consultor['whichandhow']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>temporary</big></strong></td><td><big><i><?=$consultor['temporary']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>travel</big></strong></td><td><big><i><?=$consultor['travel']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>other-place</big></strong></td><td><big><i><?=$consultor['other-place']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>unwilling</big></strong></td><td><big><i><?=$consultor['unwilling']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>Fatos relevantes</big></strong></td><td><big><i><?=$consultor['fatos-relevantes']?></i></big></td>
                            </tr>

                            <tr><td>
                                <big><strong>Habilidades :</big></strong></br>
                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                      <li><big><strong>int-ability : </big></strong><big><i><?=$consultor['int-ability']?></i></big></li>
                                      <li><big><strong>analytic-frame : </big></strong><big><i><?=$consultor['analytic-frame']?></i></big></li>
                                      <li><big><strong>ability-manager : </big></strong><big><i><?=$consultor['ability-manager']?></i></big></li>
                                      <li><big><strong>qual-oral : </big></strong><big><i><?=$consultor['qual-oral']?></i></big></li>
                                      <li><big><strong>qual-written : </big></strong><big><i><?=$consultor['qual-written']?></i></big></li>
                                      <li><big><strong>motivation : </big></strong><big><i><?=$consultor['motivation']?></i></big></li>
                                      <li><big><strong>leadership : </big></strong><big><i><?=$consultor['leadership']?></i></big></li>
                                      <li><big><strong>org-ability : </big></strong><big><i><?=$consultor['org-ability']?></i></big></li>
                                      <li><big><strong>Senso de humor : </big></strong><big><i><?=$consultor['senso-humor']?></i></big></li>
                                      <li><big><strong>emo-maturity : </big></strong><big><i><?=$consultor['emo-maturity']?></i></big></li>
                                      <li><big><strong>deadline : </big></strong><big><i><?=$consultor['deadline']?></i></big></li>
                                      <li><big><strong>work-others : </big></strong><big><i><?=$consultor['work-others']?></i></big></li>
                                      <li><big><strong>nocao-responsa : </big></strong><big><i><?=$consultor['nocao-responsa']?></i></big></li>
                                      <li><big><strong>integrity : </big></strong><big><i><?=$consultor['integrity']?></i></big></li>
                                    </ul>
                               </fieldset>
                            </td></tr>

                            <tr>
                              <td><big><strong>kind-of-work</big></strong></td><td><big><i><?=$consultor['kind-of-work']?></i></big></td>
                            </tr>
                            <tr>
                              <td><big><strong>hours-to-work</big></strong></td><td><big><i><?=$consultor['hours-to-work']?></i></big></td>
                            </tr>

                            <tr><td>
                                <big><strong>Languages :</big></strong></br>
                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                            <legend style="width:10%"><small>English</small></legend>
                                      <li>
                                        <big><strong>Reading : </big></strong><big><i><?=$consultor['english-reading']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Speaking : </big></strong><big><i><?=$consultor['english-speaking']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Writing : </big></strong><big><i><?=$consultor['english-writing']?></i></big>
                                      </li>
                                  </ul>

                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                            <legend style="width:10%"><small>Spanish</small></legend>
                                      <li>
                                        <big><strong>Reading : </big></strong><big><i><?=$consultor['spanish-reading']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Speaking : </big></strong><big><i><?=$consultor['spanish-speaking']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Writing : </big></strong><big><i><?=$consultor['spanish-writing']?></i></big>
                                      </li>
                                  </ul>

                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                            <legend style="width:10%"><small>French</small></legend>
                                      <li>
                                        <big><strong>Reading : </big></strong><big><i><?=$consultor['french-reading']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Speaking : </big></strong><big><i><?=$consultor['french-speaking']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Writing : </big></strong><big><i><?=$consultor['french-writing']?></i></big>
                                      </li>
                                  </ul>

                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                            <legend style="width:10%"><small>Potuguese</small></legend>
                                      <li>
                                        <big><strong>Reading : </big></strong><big><i><?=$consultor['portuguese-reading']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Speaking : </big></strong><big><i><?=$consultor['portuguese-speaking']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Writing : </big></strong><big><i><?=$consultor['portuguese-writing']?></i></big>
                                      </li>
                                  </ul>

                                    <ul style="list-style-type:none">
                                        <fieldset class="fieldset li">
                                            <legend style="width:10%"><small>Other(<?= $consultor['other-language']?>)</small></legend>
                                      <li>
                                        <big><strong>Reading : </big></strong><big><i><?=$consultor['other-reading']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Speaking : </big></strong><big><i><?=$consultor['other-speaking']?></i></big>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                        <big><strong>Writing : </big></strong><big><i><?=$consultor['other-writing']?></i></big>
                                      </li>
                                  </ul>
                              </td></tr>


                            <tr class="mail">
                                <td>
                                    <big><strong>e-Mail :</big></strong></br>
                                    <ul style="list-style-type:none">
                                      
                                        <fieldset class="fieldset li">
                                            <li><strong>Address : </strong><i><?php echo $consultor['email-consulting']?></i></li>
                                            <li><strong>Type : </strong><i>consulting</i></li>
                                        <?php
                                        foreach ($consultor['mails'] as $key => $mail) {

                                            if($mail['emailAddress']!=""){ ?>
                                            
                                                <li><strong>Address : </strong><i><?php echo $mail['emailAddress']?></i></li>
                                                <li><strong>Type : </strong><i><?php echo $mail['emailType']?></i></li>
                                            
                                           <?php }} ?>
                                        </fieldset>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                            <tr class="phone">
                                <td>
                                    <big><strong>Phones :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php
                                        foreach ($consultor['phones'] as $key => $mail) {

                                            if($mail['phoneNumer']!=""){ ?>
                                            <fieldset class="fieldset li">
                                                <li><strong>Number : </strong><i><?php echo $mail['phoneNumer']?></i></li>
                                                <li><strong>Type : </strong><i><?php echo $mail['phoneType']?></i></li>
                                            </fieldset>
                                           <?php }} ?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                            <tr class="academico">
                                <td>
                                    <big><strong>Academic :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php
                                        foreach ($consultor['educations'] as $key => $mail) {

                                            if($mail['schoolName']!="" && $mail['type']=="academic"){ ?>
                                            <fieldset class="fieldset li">
                                                <li><strong>Name : </strong><i><?php echo $mail['schoolName']?></i></li>
                                                <li><strong>Local : </strong><i><?php echo $mail['local']?></i></li>
                                                <li><strong>Start : </strong><i><?php echo $mail['startDate']?></i></li>
                                                <li><strong>End : </strong><i><?php echo $mail['endDate']?></i></li>
                                                <li><strong>Activities : </strong><i><?php echo $mail['activities']?></i></li>
                                                <li><strong>Degree : </strong><i><?php echo $mail['degree']?></i></li>
                                            </fieldset>
                                           <?php }} ?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                            <!--<tr class="obras">
                                <td>
                                    <big><strong>Obras :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php /*
                                        foreach ($consultor['obras'] as $key => $obra) { */?>
                                            <fieldset class="fieldset li">
                                                <li><strong></strong><i><?php //echo $obra?></i></li>
                                            </fieldset>

                                           <?php /* } */?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>-->

                            <tr class="professional">
                                <td>
                                    <big><strong>Professional :</big></strong></br>
                                    <ul style="list-style-type:none">
                                
                                        <?php
                                        foreach ($consultor['positions'] as $key => $mail) {

                                            if($mail['companyName']!="" && $mail['type']=="actual-job"){ ?>
                                            <fieldset class="fieldset multiple">
                                                <legend><small>Actual</small></legend>
                                                <li><strong>Name : </strong><i><?php echo $mail['companyName']?></i></li>
                                                <li><strong>Start : </strong><i><?php echo $mail['startDate']?></i></li>
                                                <li><strong>End : </strong><i><?php echo $mail['endDate']?></i></li>
                                                <li><strong>Industry : </strong><i><?php echo $mail['industry']?></i></li>
                                                <li><strong>Descrição : </strong><i><?php echo $mail['summary']?></i></li>
                                            </fieldset>
                                           <?php }elseif($mail['companyName']!="" && $mail['type']=="prev-job") {?>
                                       
                                            <fieldset class="fieldset multiple">
                                                <li><strong>Name : </strong><i><?php echo $mail['companyName']?></i></li>
                                                <li><strong>Start : </strong><i><?php echo $mail['startDate']?></i></li>
                                                <li><strong>End : </strong><i><?php echo $mail['endDate']?></i></li>
                                                <li><strong>Industry : </strong><i><?php echo $mail['industry']?></i></li>
                                                <li><strong>Summary : </strong><i><?php echo $mail['summary']?></i></li>
                                            </fieldset>
                                              
                                           <?php }

                                       } ?>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>

                          </tbody>
                        </table>
                    </div>
                    <!-- INGLÊS -->

                  </div>

                </section>

            </div>
        </div>
    </div>
</div><!-- /container -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>